config.mk
.ccls-cache
compile_commands.json
*.ll
*.o
*.so
*.a
*.skel.h
*.d
*.tmp
.vscode
.cache
lib/libbpf-install/
llvm.sh
bpftool/

# Ignore all executables
bench-afxdp/xdpsock
process-proxy/non_priviledged_process
process-proxy/priviledged_process

eTran/micro_kernel/micro_kernel
eTran/tcp_app/lat_client
eTran/tcp_app/lat_server
eTran/tcp_app/epoll_server
eTran/tcp_app/epoll_client
eTran/tcp_app/flexkvs_bench
eTran/tcp_app/flexkvs_server
eTran/homa_app/cp_node
